In [3]:
import pandas as pd

In [7]:
metadata = pd.read_csv('movies_metadata.csv', low_memory = False)
metadata.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [8]:
C = metadata['vote_average'].mean()

In [9]:
C

5.618207215133889

In [10]:
m = metadata['vote_count'].quantile(0.90)

In [12]:
m

160.0

In [13]:
q_movies = metadata.copy().loc[metadata['vote_count']>=m]

In [16]:
q_movies.shape

(4555, 24)

In [17]:
metadata.shape

(45466, 24)

In [29]:
def weighted_average(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    
    return((v/(v+m)*R)+((m/(v+m))*C))

In [30]:
q_movies['score'] = q_movies.apply(weighted_average, axis=1)

In [31]:
q_movies = q_movies.sort_values('score', ascending=False)

In [32]:
q_movies.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
314,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,278,tt0111161,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,...,28341469.0,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,False,8.5,8358.0,8.445869
834,False,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",...,245066411.0,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An offer you can't refuse.,The Godfather,False,8.5,6024.0,8.425439
10309,False,NaN,13200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,19404,tt0112870,hi,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",...,100000000.0,190.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Come... Fall In Love,Dilwale Dulhania Le Jayenge,False,9.1,661.0,8.421453

In [33]:
q_movies[['title','vote_count','vote_average','score']]

,title,vote_count,vote_average,score
314,The Shawshank Redemption,8358.0,8.5,8.445869
834,The Godfather,6024.0,8.5,8.425439
10309,Dilwale Dulhania Le Jayenge,661.0,9.1,8.421453
12481,The Dark Knight,12269.0,8.3,8.265477
2843,Fight Club,9678.0,8.3,8.256385
292,Pulp Fiction,8670.0,8.3,8.251406
522,Schindler's List,4436.0,8.3,8.206639
23673,Whiplash,4376.0,8.3,8.205404
5481,Spirited Away,3968.0,8.3,8.196055
2211,Life Is Beautiful,3643.0,8.3,8.187171
1178,The Godfather: Part II,3418.0,8.3,8.180076
1152,One Flew Over the Cuckoo's Nest,3001.0,8.3,8.164256
351,Forrest Gump,8147.0,8.2,8.150272
1154,The Empire Strikes Back,5998.0,8.2,8.132919
1176,Psycho,2405.0,8.3,8.132715
18465,The Intouchables,5410.0,8.2,8.125837
40251,Your Name.,1030.0,8.5,8.112532
289,Leon: The Professional,4293.0,8.2,8.107234
3030,The Green Mile,4166.0,8.2,8.104511
1170,GoodFellas,3211.0,8.2,8.077459
2216,American History X,3120.0,8.2,8.074059
15480,Inception,14075.0,8.1,8.072105
22879,Interstellar,11187.0,8.1,8.065005
7000,The Lord of the Rings: The Return of the King,8226.0,8.1,8.052649
256,Star Wars,6778.0,8.1,8.042766
46,Se7en,5915.0,8.1,8.034636
1161,12 Angry Men,2130.0,8.2,8.019613
586,The Silence of the Lambs,4549.0,8.1,8.015675
9698,Howl's Moving Castle,2049.0,8.2,8.012998
2884,Princess Mononoke,2041.0,8.2,8.012319
...,...,...,...,...
514,RoboCop 3,309.0,4.2,4.683823
20314,Movie 43,816.0,4.5,4.683313
23110,The Legend of Hercules,542.0,4.4,4.677654
15771,Vampires Suck,326.0,4.2,4.666899
9444,Starship Troopers 2: Hero of the Federation,176.0,3.8,4.665813
541,Super Mario Bros.,236.0,4.0,4.653821
10464,The Fog,191.0,3.8,4.628812
19342,Piranha 3DD,319.0,4.1,4.607126
2529,Superman IV: The Quest for Peace,327.0,4.1,4.598795
388,Street Fighter,330.0,4.1,4.595741
16616,Home Alone 4,239.0,3.9,4.589005
1603,Mortal Kombat: Annihilation,225.0,3.8,4.555619
1486,Speed 2: Cruise Control,439.0,4.1,4.505531
11229,The Wicker Man,355.0,4.0,4.502744
26563,Fantastic Four,2322.0,4.4,4.478531
10809,Date Movie,225.0,3.6,4.438735
7939,Catwoman,833.0,4.2,4.428513
3998,Jaws: The Revenge,227.0,3.5,4.375745
12358,Meet the Spartans,370.0,3.8,4.348893
1491,Batman & Robin,1447.0,4.2,4.341203
18101,Jack and Jill,619.0,4.0,4.332366
9651,Alone in the Dark,174.0,3.1,4.306327
28207,The Boy Next Door,1034.0,4.1,4.303445
24413,Left Behind,396.0,3.7,4.252002
21238,Sharknado,484.0,3.8,4.251729
9710,Son of the Mask,346.0,3.6,4.238168
12911,Disaster Movie,250.0,3.1,4.082715
3471,Battlefield Earth,259.0,3.0,3.999793
11557,Epic Movie,334.0,3.2,3.983225
13566,Dragonball Evolution,475.0,2.9,3.584903